
.box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    border: 1px solid grey;
    padding: 50px;
}

.box-container form {
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button {
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

form input, form textarea {
    background-color: var(--purpleo);
}

@media screen and (max-width: 390px) {
    .add-btn {
        position: fixed;
        bottom: 0;
    }
    .box-container {
        width: 100vw;
        padding: 2rem;
    }
    .box-container > div {
        width: 100%;
    }
    .list-form {
        position: fixed;
        bottom: 0;
        background-color: white;
    }
  }